<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" href="/style.css">

</head>

<body>

<h2>Register</h2>

<form action="/register" method="POST">

<input name="username" placeholder="Username">

<input name="email" placeholder="Email">

<input name="password" type="password" placeholder="Password">

<button>Register</button>

</form>

<a href="/login">Login</a>

</body>

</html>